@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #1d0e29 0%, #43c);
}

.main .article {
    height: 65%;
    min-width: 280px;
    max-width: 360px;
    width: 100%;
    margin: 0 20px;
    /* border: 2px solid red; */
    border-radius: 20px;
    background-color: rgb(252, 252, 252);
}

.main .article .card .background {
    height: 20vh;
    background: url('../img/illustration-hero.svg');
    background-position: center;
    background-size: cover;
    border-radius: 17px 17px 0 0;
}

.main .article .card .descripcion {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 45vh;
}

.main .article .card .descripcion .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* border: 2px solid red; */
    height: 100px;
    margin-top: 8%;
}

.main .article .card .descripcion .title p {
    font-size: 16px;
    margin-top: 4%;
    color:hsl(224, 23%, 48%);
    /* letter-spacing: .1rem; */
    /* line-height: 1.6; */
    text-align: center;
}

.main .article .card .descripcion .music-detail {
    width: 80%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.main .article .card .descripcion .music-detail .detalle-plan p {
    font-weight: bold;
}

.main .article .card .descripcion .music-detail .detalle-plan span {
    color: hsl(224, 23%, 55%);
}

.main .article .card .descripcion .music-detail .change {
    color: hsl(224, 23%, 55%);
    font-size: 20px;
}

.main .article .card .descripcion .music-detail .change:hover {
    color: hsla(245, 75%, 52%, 0.673);
    cursor: pointer;
    text-decoration:underline;
}

.main .article .card .descripcion .pagar-container {
    width: 80%;
    margin-top: 25px;
    text-align: center;
}

.main .article .card .descripcion .pagar-container .pagar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
    background-color: hsl(245, 75%, 52%);
}

.main .article .card .descripcion .pagar-container .pagar:hover {
    background-color: hsla(245, 75%, 52%, 0.714);
    cursor: pointer;
}

.main .article .card .descripcion .pagar-container .cancel {
    margin-top: 30px;
    font-size: 18px;
    display: inline-block;
}

.main .article .card .descripcion .pagar-container .cancel:hover {
    color: hsla(245, 75%, 52%, 0.714);
    cursor: pointer;
}